.swiper {
	// width: 520px;
	width: clamp(250px, 43.33vw, 520px);
	height: 411px;
	z-index: 1;
	display: flex;
	justify-content: space-between;



@include media-mx(768) {
	height: 325px;
}

@include media-mx(640) {
	height: 250px;
}
  }
