@import "../config/functions";
@import "../config/mixins";

.header {
  z-index: 8;
  inline-size: 100%;
  position: fixed;
  margin-top: 5px;
  margin-bottom: 5px;
  backdrop-filter: blur(20px);
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 2;
  padding-right: rem($main-offset);
  padding-left: rem($main-offset);
}

.header_nav_list {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 33px;

  @include media-mx(768) {
    display: none;
  }
}

.header_nav_itom {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrap-button {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100px;
  gap: 30px;
}

.chenge-theme {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

// Burger

.icon-menu {
  display: none;

  @include media-mx(768) {
    display: block;
    position: relative;
    width: rem(30);
    height: rem(18);
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 300ms ease 0ms;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}
