.mobile-nav {
	position: fixed;
	left: -100%;
	width: clamp(150px, 50vw, 50%);
	height: 100%;
	// margin-left: clamp(0px, 45vw, 540px);
	// margin-top: 70px;
	z-index: 19;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background: linear-gradient(90deg, rgba(138, 138, 138, 1) 0%, var(--primary-color) 100%);


}

.mobile_nav_link {
	display: flex;
	width: 180px;
	justify-content: end;
	padding-bottom: 20vh;
}

.mobile-nav--open {
	left: 0;
}

// .mobile-nav a {

// }

.mobile-nav__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 40px;
	font-size: 28px;
	font-size: clamp(18px, 2.33vw, 28px);

	// & .active {
	// 	opacity: 0.5;
	// }

	// a:hover {
	// 	color: rgba(67, 142, 255, 0.53);
	// 	transition-duration: 225ms;
	// }
}
