:root {
	// Семейство шрифта по умолчанию
	--bs-font-family: "Integral CF Regular", sans-serif;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 400;

	// Базовая высота шрифта
	--bs-line-height: 1;

}
